<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.theremindful2">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FilePicker" />

        <activity android:name=".ImageUploadActivity"/>
        <!-- SplashActivity Declaration - Set as Launcher Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- MainActivity Declaration -->
        <activity
            android:name=".MainActivity"
            android:exported="false"/>
        <activity android:name=".photo_view"

        />
        <!-- AnalyticsActivity Declaration -->
        <activity android:name=".AnalyticsActivity" />

        <!-- photo preview Declaration-->
        <activity android:name=".LauncherActivity" />
        <activity android:name=".album"

        /> <!-- album preview Declaration-->
        <activity android:name=".instructionPage" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".Menu"/>
        <activity android:name=".CareGiverImagesSettingsActivity"/>
        <activity
            android:name=".CameraActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="false" />
        <activity
            android:name=".audioactivity"
            android:exported="false" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>